name: Release Zip

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      
    - name: Zip .bat and .ps1 files
      run: |
        mkdir -p packages
        cp install*.bat install*.ps1 packages/
      
    - name: Publish zip file
      uses: actions/upload-artifact@v4
      with:
        name: jira-command-line.zip
        path: packages/*

